@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
    color: #08FDD8; }
  100% {
    opacity: 0; } }

@-moz-keyframes slide-down {
  0% {
    opacity: 1;
    color: #08FDD8; }
  100% {
    opacity: 0; } }

@-ms-keyframes slide-down {
  0% {
    opacity: 1;
    color: #08FDD8; }
  100% {
    opacity: 0; } }

@-o-keyframes slide-down {
  0% {
    opacity: 1;
    color: #08FDD8; }
  100% {
    opacity: 0; } }

@keyframes slide-down {
  0% {
    opacity: 1;
    color: #08FDD8; }
  100% {
    opacity: 0; } }

@-webkit-keyframes slide-back {
  0% {
    opacity: 0;
    color: #08FDD8; }
  50% {
    opacity: 1; } }

@-moz-keyframes slide-back {
  0% {
    opacity: 0;
    color: #08FDD8; }
  50% {
    opacity: 1; } }

@-ms-keyframes slide-back {
  0% {
    opacity: 0;
    color: #08FDD8; }
  50% {
    opacity: 1; } }

@-o-keyframes slide-back {
  0% {
    opacity: 0;
    color: #08FDD8; }
  50% {
    opacity: 1; } }

@keyframes slide-back {
  0% {
    opacity: 0;
    color: #08FDD8; }
  50% {
    opacity: 1; } }

@-webkit-keyframes turn-blue {
  0% {
    color: #8D8D8D; }
  100% {
    color: #08FDD8; } }

@-moz-keyframes turn-blue {
  0% {
    color: #8D8D8D; }
  100% {
    color: #08FDD8; } }

@-ms-keyframes turn-blue {
  0% {
    color: #8D8D8D; }
  100% {
    color: #08FDD8; } }

@-o-keyframes turn-blue {
  0% {
    color: #8D8D8D; }
  100% {
    color: #08FDD8; } }

@keyframes turn-blue {
  0% {
    color: #8D8D8D; }
  100% {
    color: #08FDD8; } }

[data-aos="nav-change"] {
  color: #8D8D8D; }
  [data-aos="nav-change"].aos-animate {
    color: #08FDD8; }

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #1D1D1D;
  width: 100%; }

a, p, h1, h2 {
  text-decoration: none;
  color: #181818;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

h1, h2 {
  color: #08FDD8; }

p {
  color: #F4F1F2; }

.active {
  color: #08FDD8 !important; }

.spacer {
  margin-bottom: 70px; }

nav {
  background-color: #181818;
  display: flex;
  color: #8D8D8D;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  nav .logo {
    cursor: pointer; }
    nav .logo p {
      color: #08FDD8;
      margin-left: 10px; }
  @media (min-width: 511px) {
    nav ul {
      display: none; } }
  nav ul li {
    list-style: none; }
    nav ul li .hamburger {
      font-size: 1.2em;
      margin-right: 20px; }
      nav ul li .hamburger:hover {
        color: #08FDD8;
        cursor: pointer; }
  @media (max-width: 510px) {
    nav .content {
      display: none; } }
  nav .content ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
    nav .content ul li {
      margin: 0 10px 0 10px;
      animation: fadeInDown;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: .5s;
      animation-delay: 0;
      /* don't forget to set a duration! */ }
      nav .content ul li a {
        text-decoration: none;
        color: #181818;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */ }
        nav .content ul li a i {
          position: relative;
          left: 30px;
          color: #8D8D8D;
          z-index: 1;
          font-size: 1.2em; }
        nav .content ul li a span {
          font-size: .7em; }
        nav .content ul li a:hover i {
          cursor: pointer;
          color: #08FDD8;
          -webkit-animation: slide-down .2s forwards;
          -moz-animation: slide-down .2s forwards;
          -ms-animation: slide-down .2s forwards;
          -o-animation: slide-down .2s forwards;
          animation: slide-down .2s forwards; }
        nav .content ul li a:hover {
          color: #08FDD8;
          -webkit-animation: slide-back 1s forwards;
          -moz-animation: slide-back 1s forwards;
          -ms-animation: slide-back 1s forwards;
          -o-animation: slide-back 1s forwards;
          animation: slide-back 1s forwards;
          cursor: pointer; }
  @media (max-width: 660px) {
    nav .social {
      display: none; } }
  nav .social ul {
    display: flex; }
    nav .social ul li {
      list-style: none;
      margin: 0 10px 0 10px;
      color: #8D8D8D;
      font-size: 1.2em; }
      nav .social ul li:hover {
        cursor: pointer;
        color: #08FDD8;
        -webkit-animation: turn-blue .4s forwards;
        -moz-animation: turn-blue .4s forwards;
        -ms-animation: turn-blue .4s forwards;
        -o-animation: turn-blue .4s forwards;
        animation: turn-blue .4s forwards; }

#mobile-menu {
  color: #F4F1F2;
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 200px;
  z-index: 800;
  padding: 0;
  position: fixed;
  background-color: #181818;
  top: 50px;
  align-items: center;
  display: none; }
  @media (min-width: 512px) {
    #mobile-menu {
      display: none; } }
  #mobile-menu ul li {
    color: #F4F1F2;
    list-style: none;
    font-size: 1.2em;
    line-height: 30px; }
    #mobile-menu ul li a {
      color: #F4F1F2; }
      #mobile-menu ul li a:hover {
        color: #08FDD8; }
    #mobile-menu ul li hr {
      border-color: #08FDD8;
      width: 100px;
      margin-left: 0px; }

.only-mobile {
  display: block; }
  @media (min-width: 512px) {
    .only-mobile {
      display: none !important; } }

.hero-bkg-animated {
  background: url(darkness.png) repeat 0 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite; }
  .hero-bkg-animated .social-tab {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    animation: fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s;
    animation-delay: 0;
    /* don't forget to set a duration! */ }
    @media (min-width: 660px) {
      .hero-bkg-animated .social-tab {
        animation: fadeOutRight;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: .5s;
        animation-delay: 0;
        /* don't forget to set a duration! */
        animation-fill-mode: forwards; } }
    @media (max-width: 511px) {
      .hero-bkg-animated .social-tab {
        animation: fadeOutRight;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: .5s;
        animation-delay: 0;
        /* don't forget to set a duration! */
        animation-fill-mode: forwards; } }
    .hero-bkg-animated .social-tab ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 5px 20px 5px 25px; }
      .hero-bkg-animated .social-tab ul li {
        list-style: none;
        color: #8D8D8D;
        font-size: 2em;
        height: 60px;
        margin-left: -10px; }
        .hero-bkg-animated .social-tab ul li a {
          color: #8D8D8D; }
          .hero-bkg-animated .social-tab ul li a:hover {
            color: #08FDD8;
            cursor: pointer; }

@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: -400px 0; } }

.hero {
  display: flex;
  align-items: center;
  height: 90vh; }
  .hero .lead {
    margin-left: 100px; }
    @media (max-width: 500px) {
      .hero .lead {
        margin-left: auto;
        margin-right: auto; } }
    .hero .lead h1 {
      color: #F4F1F2;
      font-size: 3em;
      font-weight: bold;
      line-height: 5px;
      animation: lightSpeedInLeft;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: .4s;
      animation-delay: .5;
      /* don't forget to set a duration! */ }
      @media (max-width: 500px) {
        .hero .lead h1 {
          font-size: 2.4em; } }
      .hero .lead h1 span {
        position: relative; }
    .hero .lead h2 {
      color: #F4F1F2;
      font-size: 3em;
      font-weight: bold;
      line-height: 5px;
      animation: lightSpeedInLeft;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: .7s;
      animation-delay: .5;
      /* don't forget to set a duration! */ }
      @media (max-width: 500px) {
        .hero .lead h2 {
          font-size: 2.4em; } }
    .hero .lead p {
      color: #8D8D8D;
      margin-bottom: 40px;
      font-weight: bold;
      animation: lightSpeedInLeft;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: .9s;
      animation-delay: .5;
      /* don't forget to set a duration! */ }
    .hero .lead a {
      color: #08FDD8;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #08FDD8;
      padding: 8px 12px 8px 12px; }
      .hero .lead a:hover {
        background-color: #08FDD8;
        color: #8D8D8D; }

#about {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center; }
  #about .about-content {
    width: 96%;
    margin-left: 10px; }
  #about h2 {
    color: #08FDD8;
    font-size: 2.4em; }
  #about p {
    color: #F4F1F2; }

#skills {
  border-top: #8D8D8D solid thin;
  padding: 0 5px 0 5px;
  display: flex;
  background-color: #F4F1F2;
  justify-content: center; }
  #skills .skills-content {
    width: 96%; }
    #skills .skills-content h2 {
      color: #181818; }
    #skills .skills-content h2 {
      font-size: 2em; }
    #skills .skills-content h2:first-child {
      font-size: 2.4em; }
    #skills .skills-content p {
      color: #1D1D1D; }
    #skills .skills-content .front-end, #skills .skills-content .back-end {
      width: 100%;
      padding: 40px 0 40px 0; }
      #skills .skills-content .front-end img, #skills .skills-content .back-end img {
        max-height: 100px; }
    #skills .skills-content .front-end {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      grid-row-gap: 40px; }
      @media (max-width: 650px) {
        #skills .skills-content .front-end {
          grid-template-columns: repeat(2, 1fr); } }
      @media (max-width: 450px) {
        #skills .skills-content .front-end {
          grid-template-columns: repeat(1, 1fr); } }
    #skills .skills-content .back-end {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      grid-row-gap: 30px; }
      @media (max-width: 600px) {
        #skills .skills-content .back-end img {
          height: 50px; } }
      @media (max-width: 450px) {
        #skills .skills-content .back-end {
          grid-template-columns: repeat(1, 1fr); } }

#contact {
  border-top: #8D8D8D solid thin;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center; }
  #contact .contact-content {
    width: 96%;
    padding-bottom: 50px; }
  #contact form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px; }
    #contact form input, #contact form textarea {
      background-color: #2B2B2B;
      border: none;
      padding: 15px;
      color: #8D8D8D;
      font-size: 1.2em;
      font-family: Arial, Helvetica, sans-serif; }
      #contact form input:focus, #contact form textarea:focus {
        outline: none;
        border-bottom: #08FDD8 2px solid; }
    #contact form .field1 {
      grid-column: 1 / span 6; }
      @media (max-width: 500px) {
        #contact form .field1 {
          grid-column: 1 /span 12; } }
    #contact form .field2 {
      grid-column: 7 / span 6; }
      @media (max-width: 500px) {
        #contact form .field2 {
          grid-column: 1 /span 12; } }
    #contact form .field3, #contact form .field4 {
      grid-column: 1 / span 12; }
  #contact .btn {
    background-color: transparent;
    border: #08FDD8 solid 1px;
    color: #08FDD8;
    margin-top: 10px; }
    #contact .btn:hover {
      background-color: #08FDD8;
      color: #8D8D8D;
      cursor: pointer; }
