$blue : #08FDD8;
$gray : #8D8D8D;
$white: #F4F1F2;
$background: #1D1D1D;
$nav: #181818;
$input: #2B2B2B;

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }
  
  @include keyframes(slide-down) {
    0% { opacity: 1; color: $blue;}
    100% { opacity: 0; }
  }

  @include keyframes(slide-back) {
    0% { opacity: 0; color: $blue;}
    50% { opacity: 1; }
  }

  @include keyframes(turn-blue) {
    0% { color: $gray;}
    100% { color: $blue }
  }

  [data-aos="nav-change"] {
   color: $gray;

    &.aos-animate {
      color: $blue;
    }
  
  }

html,body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden; 
    box-sizing: border-box;
    background-color: $background;
    width: 100%;
}


a, p, h1, h2 {
  text-decoration: none;
  color: $nav;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  
}

h1, h2 {
  color: $blue;
}
p {
  color: $white;
}

.active {
  color: $blue !important;
}
.spacer {
  // height: 100px;
  margin-bottom: 70px;
  // background-color: transparent;
}
nav {
    background-color: $nav;
    display: flex;
    color: $gray;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:5;
    // margin-bottom: 200px;

    .logo {
        cursor: pointer;

        p {
            color: $blue;
            margin-left: 10px;
        }

       
    }

    ul {
      @media(min-width: 511px) {
        display: none;
      }
      li {
        list-style: none;
        .hamburger {
         font-size: 1.2em;
          margin-right: 20px;
          &:hover {
            color: $blue;
            cursor: pointer;
          }
        }
      }
    }

    .content {
      // flex-shrink: 2;
      @media(max-width: 510px) {
        display: none;
      }
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            li {
                margin: 0 10px 0 10px;
                animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
                animation-duration: .5s;
                animation-delay: 0; /* don't forget to set a duration! */

                
                a {
                    text-decoration: none;
                    color: $nav;
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */
                    
                    i {
                        position: relative;
                        left: 30px;
                        color: $gray;
                        z-index: 1;
                        font-size: 1.2em;
                      
                    }
                    span {
                        font-size: .7em;
                    }

                    &:hover i {
                        cursor: pointer;
                        // opacity: 0;
                        color: $blue;
                        @include animation('slide-down .2s forwards');
                        
                    }
                    
                    &:hover {
                        color: $blue;
                        @include animation('slide-back 1s forwards');
                        cursor: pointer;
                    }
                }

            }
        }    
    }

    .social {

      @media(max-width: 660px) {
        display: none;
      }
        ul {
            display: flex;
            li {
                list-style: none;
                margin: 0 10px 0 10px;
                color: $gray;
                font-size: 1.2em;
              
        

                &:hover {
                    cursor: pointer;
                    // opacity: 0;
                    color: $blue;
                    @include animation('turn-blue .4s forwards');
                }
            }
        }
    }
}

#mobile-menu {
  color: $white;
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 200px;
  z-index: 800;
  padding: 0;
  position: fixed;
  background-color: $nav;
  top: 50px;
  align-items: center;
  display: none;
  @media (min-width:512px) {
    display: none;
  }
  
  


  ul {

    li {
      color: $white;
      list-style: none;
      font-size: 1.2em;
      line-height: 30px;
      a {
        color: $white;

        &:hover {
          color: $blue;
        }
      }

      hr {
        border-color: $blue;
        width: 100px;
        margin-left: 0px;
      }
    }
  }
}

.only-mobile {
  display: block;
  @media(min-width: 512px) {
    display: none !important;
  }
}

.hero-bkg-animated {
  background: url(darkness.png) repeat 0 0;
  
  width: 100%;
  margin: 0;
  // text-align: center;
  // height: 300px;
  // padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;

  .social-tab {

    @media (min-width: 660px) {
      animation: fadeOutRight; /* referring directly to the animation's @keyframe declaration */
      animation-duration: .5s;
      animation-delay: 0; /* don't forget to set a duration! */
      animation-fill-mode: forwards;  
      // display: none;
    }

    @media (max-width: 511px) {
      animation: fadeOutRight; /* referring directly to the animation's @keyframe declaration */
      animation-duration: .5s;
      animation-delay: 0; /* don't forget to set a duration! */
      animation-fill-mode: forwards;  
    }
    background-color: $nav;
    display: flex;
    flex-direction: column;
    height: 200px;
    // justify-content: center;
    align-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s;
    animation-delay: 0; /* don't forget to set a duration! */
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // justify-items: space-between;
      padding: 5px 20px 5px 25px;
      
      li {
        list-style: none;
        color: $gray;
        font-size: 2em;
        height: 60px;
        margin-left: -10px;
        a {
          color: $gray;

          &:hover {
            color: $blue;
            cursor: pointer;
          }
        }
      }
    }
  }
}



@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.hero {
 
  display: flex;
  align-items: center;
  height: 90vh;
  

  .lead {

    margin-left: 100px;
    @media (max-width: 500px) {
      margin-left: auto;
      margin-right: auto;
    }
    

    h1 {
      color: $white;
      font-size: 3em;
      font-weight: bold;
      line-height: 5px;
      @media (max-width: 500px) {
        font-size: 2.4em;
      }
      span {
        position: relative;
      }
      animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
      animation-duration: .4s;
      animation-delay: .5; /* don't forget to set a duration! */
    }
    h2 {
      color: $white;
      font-size: 3em;
      font-weight: bold;
      line-height: 5px;
      animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
      animation-duration: .7s;
      animation-delay: .5; /* don't forget to set a duration! */
      @media (max-width: 500px) {
        font-size: 2.4em;
      }
    }

    p {
      color: $gray;
      margin-bottom: 40px;
      font-weight: bold;
      animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
      animation-duration: .9s;
      animation-delay: .5; /* don't forget to set a duration! */
    }
    a {
      color: $blue;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid $blue;
      padding: 8px 12px 8px 12px;
      
      &:hover {
        background-color: $blue;
        color: $gray;
      }

    }
  }
}

#about {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  // width: 100vw;
  // width: 95%;
  // padding: 0 5px 0 5px;
  
 
  .about-content {
    width: 96%;
    margin-left: 10px;
 
  }
  h2 {
    color: $blue;
    font-size: 2.4em;
  }
  p {
    color: $white;
  }
}

#skills {
  border-top: $gray solid thin;
  // height: 100vh;
  padding: 0 5px 0 5px;
  display: flex;
  background-color: $white;
  justify-content: center;
  .skills-content {
    width: 96%;
   
  
    h2 {
      color: $nav;
    }

    h2 {
      font-size: 2em;;
    }

    h2:first-child {
      font-size: 2.4em;
    }
    p {
      color: $background;
    }

    .front-end, .back-end {
      width: 100%;
      padding: 40px 0 40px 0;
      img {
        // max-height: 100px;
        // min-height: 50px;;
        max-height: 100px;
      }
    }

    .front-end {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-items: center;
      grid-row-gap: 40px;

      img {
        // &:hover {
        //   animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: .7s;
        //   animation-delay: 0; /* don't forget to set a duration! */
        // }
      }
      @media (max-width: 650px) {
          grid-template-columns: repeat(2,1fr);
        
      }

      @media (max-width: 450px) {
        grid-template-columns: repeat(1,1fr);
      
    }

      
    }

   

    .back-end {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-items: center;
      grid-row-gap: 30px;

      img {
        // &:hover {
        //   animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: .7s;
        //   animation-delay: 0; /* don't forget to set a duration! */
        // }
      }

      @media (max-width: 600px) {
        img {
          height: 50px;
        }
      
    }

      @media (max-width: 450px) {
        grid-template-columns: repeat(1,1fr);
      
    }
    }

    
  }
}

#contact {
  border-top: $gray solid thin;
  display: flex;
  align-items: center;
  // height: 100vh;
  width: 100%;
  justify-content: center;
  // padding: 0 5px 0 5px;
 
  .contact-content {
    // margin-left: 10px;
    width: 96%;
    padding-bottom: 50px;
   
  }
  form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;

    input, textarea {
      background-color: $input;
      border: none;
      padding: 15px;
      color: $gray;
      font-size: 1.2em;
      font-family: Arial, Helvetica, sans-serif;

      &:focus {
        outline: none;
        border-bottom: $blue 2px solid;
      }
    }

  

    .field1 {
      grid-column: 1 / span 6;

      @media(max-width: 500px) {
        grid-column: 1 /span 12;
      }
    }
    .field2 {
      grid-column:7 / span 6;
      @media(max-width: 500px) {
        grid-column: 1 /span 12;
      }
    }

    .field3, .field4 {
      grid-column: 1 / span 12;
    }

 
  }

  .btn {
    background-color: transparent;
    border: $blue solid 1px;
    color: $blue;
    // grid-column: 1 / span 3;
    margin-top: 10px;
    &:hover {
      background-color: $blue;
      color: $gray;
      cursor: pointer;
    }
  }
}

